{% load static %}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta charset="utf-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <title>Walyte ORS</title>
    <link href="{% static 'services/css/style.css' %}" rel="stylesheet" type="text/css">
    {% block extra_links %}
    {% endblock %}
</head>
{% block extra_styles %}
{% endblock %}

{% block body_content %}
{% endblock %}
{% block extra_js %}
{% endblock %}
</html>