{% extends 'services/common.html' %}
{% load static %}

{% block body_content %}

<body>
	
    <div class="hm-banner">
    <!-- <img src="{% static '/services/image/bg-img-new.jpg' %}" class="">  -->
    <div class="hm-title container">
    <p>For more information about Diarrhea <br> Please scan QR Code to access page!
    </p>
    </div>
    </div>

<!--<section class="header">
	<div class="container">
	    <h1>SELECT LANGUAGE</h1>
    </div>
</section>-->



<!-- <section class="body-area">
  <div class="container">
         

<a class="sel-btn" href="#langpop">Click Here</a>

<ul id="langpop" class="language">
<a href="#" class="cl-btn">X</a>
<span>Choose language</span>
<li><a href="Service.html">English</a></li>
<li><a href="#">हिंदी</a></li>
<li><a href="#">मराठी</a></li>
<li><a href="#">ગુજરાતી</a></li>
<li><a href="#">தமிழ்</a></li>
<li><a href="#">తెలుగు</a></li>
<li><a href="#">বাংলা</a></li>
<li><a href="#">ଓଡିଆ</a></li>
<li><a href="#">ಕನ್ನಡ</a></li>
</ul>        


        
    </div>
        
</section>

<section class="footer">
<p>To select your language</p>
</section> -->


</body>
{% endblock %}