{% load static %}
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta charset="utf-8">
<title>Gastro Awarness</title>
<link href="{% static '/services/css/style2.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	
    <div class="hm-banner">
    <img src="{% static '/services/image/banner.png' %}" class=""> 
    <div class="hm-title container">
    <p>For personalised information about your Gastric Disorders <br> Please scan QR Code to access page!
    </p>
    </div>
    </div>

<!--<section class="header">
	<div class="container">
	    <h1>SELECT LANGUAGE</h1>
    </div>
</section>-->



<!-- <section class="body-area">
  <div class="container">
         

<a class="sel-btn" href="#langpop">Click Here</a>

<ul id="langpop" class="language">
<a href="#" class="cl-btn">X</a>
<span>Choose language</span>
<li><a href="Service.html">English</a></li>
<li><a href="#">हिंदी</a></li>
<li><a href="#">मराठी</a></li>
<li><a href="#">ગુજરાતી</a></li>
<li><a href="#">தமிழ்</a></li>
<li><a href="#">తెలుగు</a></li>
<li><a href="#">বাংলা</a></li>
<li><a href="#">ଓଡିଆ</a></li>
<li><a href="#">ಕನ್ನಡ</a></li>
</ul>        


        
    </div>
        
</section>

<section class="footer">
<p>To select your language</p>
</section> -->


</body>
</html>
